{{#section 'head'}}
    <meta name="robots" content="noindex">
{{/section}}

<h1></h1>

{{#section 'jquery'}}
    <script>
        $('document').ready(function()
        {
            $('h1').html('Jquery Tests');
        })
    </script>
{{/section}}